@media (max-width: 992px) {
    p {
        font-size: 15px;
    }
    h2 {
        font-size: 34px;
    }
    canvas {
        display: none;
    }
    .homepage img {
        display: block;
        width: 100%;
        margin-top: 64px;
    }
    .about-detail {
        display: none;
    }
    .about-detail-2 {
        position: relative;
        display: flex;
        margin-top: 5em;
        width: 100%;
        height: 100%;
        flex-flow: column;
        align-items: center;
    }
    .about-detail-word {
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 100%;
    }
    .about-detail-2 img {
        width: 80%;
        height: auto;
        margin-right: 0;
        z-index: -1;
    }
    .about-detail-word-title {
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    .about-detail-word-title p {
        font-size: 12px;
    }
    .about-detail-word-title h2 {
        margin-top: -10px;
    }
    .about-detail-word-contains {
        margin-top: -20px;
        margin-bottom: 50px;
    }
    .our-company-title p {
        font-size: 12px;
    }
    .our-company-title h2 {
        margin-top: -10px;
    }
    .our-company-contains {
        margin-top: 40px;
        width: 100%;
    }
    .our-company-contains p {
        color: #000;
        font-weight: 400;
    }
    .company-logo {
        width: 100%;
        margin-top: 50px;
    }
    .company-1 {
        width: 15%;
    }
    .company-2 {
        width: 23%;
    }
    .company-3 {
        width: 15%;
    }
    .our-partners h3 {
        font-size: 30px;
    }
    .our-partners p {
        font-size: 12px;
    }
    .our-partners-logo {
        width: 90%;
    }
    .our-partners-logo img {
        margin-top: 15px;
    }
    .partner-1 {
        width: 40%;
    }
    .partner-2 {
        width: 40%;
    }
    .background-white2 {
        height: 130vh;
        width: 100%;
        background-color: #ffffff;
        /*z-index: -1;*/
    }
    .services {
        display: flex;
        flex-flow: column;
        align-items: center;
        min-width: 100%;
    }
    .ServicesTitle p {
        font-size: 12px;
    }
    .services-alldetail-title {
        margin-top: 50px;
    }
    .services-alldetail-title i {
        color: #000;
        font-size: 23px;
    }
    .services-alldetail-title h4 {
        font-size: 23px;
        font-family: 'Noto Sans TC';
        font-weight: 400;
        letter-spacing: 5px;
        color: #FF6A14;
        margin-top: 5px;
        margin-left: 15px;
    }
    .services-alldetail {
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        padding-bottom: 50px;
        z-index: 1;
    }
    /*.services-alldetail p {
        display: flex;
        flex-flow: row;
        align-items: flex-start;
    }*/
    .alldetail-conten-left {
        margin-top: 30px;
        width: 30%;
    }
    .alldetail-conten-left p {
        color: #000;
        font-weight: 400;
    }
    .straight-line {
        margin-left: -10vh;
        margin-right: 5vw;
        margin-top: 30px;
        width: 50px;
        height: 200px;
        border-right: solid #000000 1px;
    }
    .alldetail-conten-right {
        margin-top: 30px;
        width: 70%;
    }
    .alldetail-conten-right p {
        color: #8D8D8D;
        font-weight: 400;
    }
}

@media (max-width: 768px) {}

@media (max-width: 425px) {}